<a href="https://colab.research.google.com/github/litzana20015/Comercio_Hierbalife/blob/master/Sesion1_TAREA_KModes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"CELDA N°1"
#Importar la librería pandas y renombrarlo como pd
import pandas as pd

Para esta tarea usaremos una nueva librería de clusterización para **datos categóricos**. Para mayor detalle puede revisar el siguiente [enlace web](https://pypi.org/project/kmodes/)

Además puede profundizar en el procedimiento paso a paso en el siguiente [videotutorial](https://www.youtube.com/watch?v=b39_vipRkUo)

In [ ]:
"CELDA N°2"
#Instalar kmodes
!pip install kmodes

Collecting kmodes
  Downloading https://files.pythonhosted.org/packages/b2/55/d8ec1ae1f7e1e202a8a4184c6852a3ee993b202b0459672c699d0ac18fc8/kmodes-0.10.2-py2.py3-none-any.whl
Requirement already satisfied: scikit-learn>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from kmodes) (0.22.2.post1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from kmodes) (0.16.0)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.6/dist-packages (from kmodes) (1.4.1)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.6/dist-packages (from kmodes) (1.18.5)
Installing collected packages: kmodes
Successfully installed kmodes-0.10.2

In [ ]:
"CELDA N°3"
#Importar la librería KModes
from kmodes.kmodes import KModes

In [ ]:
"CELDA N°4"
#Utilizando pandas y read_csv leer los datos de la siguiente URL: "https://raw.githubusercontent.com/javalpe/datasets/master/people.csv"
#Guardar los datos leidos en una variable data
data=pd.read_csv ("https://raw.githubusercontent.com/javalpe/datasets/master/people.csv")
data.head()

  SEXO UNIVERSIDAD  ... ESPECIALIZACION_DATA SCIENCE DIA_PREFERIDO
0    F       ULIMA  ...                           NO        SABADO
1    M       OTROS  ...                           NO       VIERNES
2    M       OTROS  ...                           NO       VIERNES
3    M       OTROS  ...                           NO       VIERNES
4    F  SAN MARCOS  ...                           NO        SABADO

[5 rows x 7 columns]

In [ ]:
"CELDA N°5"
#Mostrar los nombres de las columnas de data

data.columns

Index(['SEXO', 'UNIVERSIDAD', 'PERFIL', 'CARRERA', 'POSICION',
       'ESPECIALIZACION_DATA SCIENCE', 'DIA_PREFERIDO'],
      dtype='object')

In [ ]:
"CELDA N°6"
#Mostrar los vacíos en las columnas con la funcion for... in data.columns


for n in data.columns:
  print(data[n])
  if n == "UNIVERSIDAD":
    break

0      F
1      M
2      M
3      M
4      F
      ..
149    M
150    F
151    M
152    M
153    M
Name: SEXO, Length: 154, dtype: object
0           ULIMA
1           OTROS
2           OTROS
3           OTROS
4      SAN MARCOS
          ...
149         OTROS
150          PUCP
151           UNI
152         OTROS
153    SAN MARCOS
Name: UNIVERSIDAD, Length: 154, dtype: object

In [ ]:
"CELDA N°7"
#Reemplazar los vacíos de las columnas con la mode utilizando mode()[0] -no olvidar inplace=True
data.dropna(inplace=True)

In [ ]:
"CELDA N°8"
#Creamos el modelo km con los parámetros siguientes:

km = KModes(n_clusters=4, init='Huang', n_init=5, verbose=1)

In [ ]:
"CELDA N°9"
#Obtenemos los cluster a partir de la data -sin vacíos
clusters = km.fit_predict(data)

Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 1, iteration: 1/100, moves: 32, cost: 239.0
Run 1, iteration: 2/100, moves: 8, cost: 239.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 2, iteration: 1/100, moves: 34, cost: 238.0
Run 2, iteration: 2/100, moves: 9, cost: 238.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 3, iteration: 1/100, moves: 24, cost: 250.0
Run 3, iteration: 2/100, moves: 10, cost: 250.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 4, iteration: 1/100, moves: 35, cost: 239.0
Run 4, iteration: 2/100, moves: 16, cost: 239.0
Init: initializing centroids
Init: initializing clusters
Starting iterations...
Run 5, iteration: 1/100, moves: 35, cost: 246.0
Run 5, iteration: 2/100, moves: 6, cost: 246.0
Best run was number 2

In [ ]:
"CELDA N°10"
#Creamos una nueva columna cluster donde llenamos los valores de los cluster que acabamos de hallar
data['cluster'] = clusters

In [ ]:
"CELDA N°11"
#Comprobamos con head si la data ahora cuenta con la nueva columna cluster

data.head()

  SEXO UNIVERSIDAD  PERFIL  ... ESPECIALIZACION_DATA SCIENCE DIA_PREFERIDO cluster
0    F       ULIMA   JOVEN  ...                           NO        SABADO       1
2    M       OTROS  ADULTO  ...                           NO       VIERNES       1
3    M       OTROS  ADULTO  ...                           NO       VIERNES       1
4    F  SAN MARCOS   JOVEN  ...                           NO        SABADO       3
5    M  SAN MARCOS   JOVEN  ...                           NO        SABADO       3

[5 rows x 8 columns]